name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

      - name: Test race condition
        run: go test -race -v ./... || true

      - name: Fmt
        run: go fmt ./... || true

      - name: Lint
        run: |
          go install golang.org/x/lint/golint@latest || true
          golint ./... || true

      - name: Vet
        run: go vet ./... || true

      - name: Security check
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest || true
          staticcheck ./... || true

      - name: gosec
        run: |
          go install github.com/securego/gosec/v2/cmd/gosec@latest || true
          gosec ./... || true

      - name: Coverage
        run: |
          go test -coverprofile=coverage.out . || true
          go tool cover -func=coverage.out || true
          go tool cover -html=coverage.out -o coverage.html || true

      - name: Go security check
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest || true
          govulncheck . || true